dist: trusty
sudo: false
language: ruby
cache: bundler

rvm:
  - 2.3
  - 2.4

gemfile:
  - spec/gemfiles/rails-5.0.gemfile
  - spec/gemfiles/rails-5.1.gemfile
  - spec/gemfiles/rails-5.2.gemfile

before_install: gem update bundler
bundler_args: --jobs 3
install: bundle install --jobs 3

script:
  - bundle exec rubocop --fail-level autocorrect
  - bundle exec rspec
